* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("minion.png");
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 80%;
  margin-top: 1rem;
}

.wrapper > div,
button {
  padding: 1rem;
}
h1 {
  text-align: center;
  margin-bottom: 1rem;
  background-color: #f7f7f7;
}
label,
button {
  margin-bottom: 1rem;
  color: #443400;
  background-color: #f9d564;
  font-weight: bolder;
  padding: 0.5rem;
}
textarea {
  display: block;
  padding: 1em 0.5em;
  background-color: inherit rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  margin-top: 1rem;
  width: 100%;
  height: 200px;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#output {
  resize: none;
}
div.submit {
  display: grid;
  place-items: center;
}
button {
  max-width: 100px;
  padding: 0.5rem 1.2rem;
  text-align: center;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: thin solid #70602a;
  margin: auto;
}
footer {
  background-color: #f9d564;
  margin-block: auto 0;
  text-align: center;
  padding: 1rem;
}
p {
  line-height: 1.25rem;
}
a {
  display: block;
  padding-top: 0.2rem;
}
@media (max-width: 650px) {
  .wrapper {
    width: 95%;
  }
}
